.description {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 5px;
}

.eheader {
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 2%;
  font: bolder 10vh "Josefin Slab";
  text-align: center;
  list-style: none;
}

.ename {
  list-style: none;
}

.edate {
  font-size: 17.5px;
}

.einfo {
  font-size: 20px;
}

.erow {
  display: flex;
  padding-bottom: 4vh;
}

.ecolumninfo {
  flex: 100%;
  background-color: white;
  font-size: 20px;
  font-family: "Josefin Sans", serif;
  padding: 1vw;
}

.ecolumnimg {
  flex: 25%;
  background-color: white;
  font-size: 20px;
  padding: 1vw;
  font-family: "Josefin Sans", serif;
}

.engimg {
  width:40vw;
  height:40vw;
  object-fit: cover;
}

@media screen and (max-width: 720px) {
  .eheader {
    font: bolder 15vw "Josefin Slab";
    margin-top: 2.5vh;
  }

  .ecolumninfo {
    flex:none;
  }

  .edate {
    font-size: 5vw;
  }

  .engimg {
    width: 98vw;
    height: 98vw;
  }

}

@media screen and (min-width: 1500px) {
  
  .ename {
    font-size: 3vw;
  }

  .etitle {
    font-size: 2vw;
  }

  .edate {
    font-size: 2vw;
  }

  .description {
    font-size: 1.5vw;
  }
}



