.text{
    font-family: 'Josefin Sans', sans-serif;
    font:                           bolder 4.5vw 'Josefin Sans';
    text-align:                     left;
    margin:                         0;
    background:                     url("https://media0.giphy.com/media/lFNmSjRDN9SiLJ3a9Z/200.gif") center;
    background-size:                contain;
    margin:                         auto;
    width:                          auto;
    background-clip:                text;
    -webkit-background-clip:        text;
    color:                          transparent;
    padding-top: 1vh;
    padding-left: 1vh;
  }


  
