.header {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 2%;
  font: bolder 10vh "Josefin Slab";
  text-align: center;
  list-style: none;
}

.title {
  list-style: none;
}

.small-title {
  display: inline; 
  background-color: white;
  padding: 1vw;
  font-family: "Josefin Slab", serif;
  font-size: 3vw;
  margin-left: 4vw;
  margin-bottom: -5px;
}

.info {
  padding-left: 2vh;
  font-size: 20px;
}

.row {
  display: flex;
  padding-bottom: 4vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.columninfo {
  flex: 33.33%;
  padding: 1vw;
  background-color: white;
  font-size: 20px;
  font-family: "Josefin Sans", serif;
}

.columnimg {
  flex: 33.33%;
  float: right;
  padding: 1vw;
  background-color: white;
  font-size: 20px;
  font-family: "Josefin Sans", serif;
}

.date {
  font-size: 3vh;
}

@media screen and (max-width: 768px) {
  .columninfo {
    flex: none;
  }

  .header {
    font-size: 15vw;
    margin-top: 2.5vh;
    margin-bottom: 2vh;
  }

  .date {
    font-size: 7vw;
  }

  .row {
    display: flex;
    padding-bottom: 2vw;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .small-title {
    margin-left: 0vw;
  }


  
}

@media screen and (min-width: 1000px) {
  .columninfo {
    font-size: 30px;
  }

  
  
}

@media screen and (min-width: 1500px) {
  .columninfo {
    font-size: 35px;
    line-height: 85px;
  }

}
