.menu-bars {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -200%;
  transition: 850ms;
  text-align: center;
  display: inline;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.menu-bars.active {
  transition: 350ms;
  font-size: 0rem;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  margin: auto !important;
}

.nav-text a {
  font-family: "Josefin Slab", serif;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 30px;
  width: 50%;
  height: 100%;
  align-items: center;
  padding: 10px 16px;
  text-align: center;
  margin: auto;
}

.nav-text a:hover {
  opacity: 80%;
  color: #1a83ff;
}

.nav-menu-items {
  margin: auto;
  text-align: center;
}

.navbar-toggle {
  color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.x {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  background: none;
  padding-right: 3vh;
  color: white;
}
